
<h1>Tạo liên hệ </h1>

<form method="post" action="/contact/">
  <div class="form-group">
    <label for="NAME">Tên</label>
    <input type="text" class="form-control" name="NAME">  
  </div>
   <div class="form-group">
    <label for="EMAIL">Email</label>
    <input type="text" class="form-control" name="EMAIL">  
  </div>
   <div class="form-group">
    <label for="PHONE">SĐT</label>
    <input type="text" class="form-control" name="PHONE">  
  </div>
   <div class="form-group">
    <label for="WEB">Website</label>
    <input type="text" class="form-control" name="WEB">  
  </div>
    <div class="form-group">
    <label for="SOURCE_DESCRIPTION">số TKNH</label>
    <input type="text" class="form-control" name="SOURCE_DESCRIPTION">  
  </div>
    <div class="form-group">
    <label for="ADDRESS">Địa Chỉ</label>
    <input type="text" class="form-control" name="ADDRESS">  
  </div>
 

  <button type="submit" class="btn btn-primary">Submit</button>
</form>